@use '../../styles/mixin.scss' as mixin;

.dropdown-button {
  width: 100%;
  height: 40px;
  padding-inline: 12px;
  border: 1px solid mixin.$outline-color;
  border-radius: mixin.$border-radius-sm;;
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: mixin.$field-bg;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-color: mixin.$success-border;
  }

  &__icon--active {
    transform: rotate(180deg);
  }

  &__list {
    width: 100%;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: -5px;
    z-index: 10;
    background-color: inherit;
    transform: translateY(100%);
  }

  &__list-option {
    height: 40px;
    width: 100%;
    display: flex;
    padding-inline: 12px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid mixin.$outline-color;
    cursor: pointer;
    background-color: mixin.$field-bg;

    &:hover {
      background-color: mixin.$success-border;
    }
  }
}
