@use '../../styles/mixin.scss' as mixin;

.home-page {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 15px;

  @include mixin.on-tablet {
    margin: 40px;
    grid-template-columns: repeat(12, 1fr);
  }

  @include mixin.on-desktop {
    grid-template-columns: repeat(24, 1fr);
  }

  &__rent-form {
    grid-column: 1 / -1;

    @include mixin.on-tablet {
      grid-column: span 7;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-column: 1 / -1;

    @include mixin.on-desktop {
      grid-column: 8 / -1 ;
    }
  }
}
